<%= simple_form_for(@artwork) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :asset, as: :file %>
    <%= f.input :year, collection: 1990..Date.today.year, selected: Date.today.year %>
    <%= f.input :category, collection: [ "Paintings", "Watercolors", "Drawings", "Prints"], selected: "Paintings" %>
    <%= f.input :size %>
    <%= f.input :medium %>
    <%= f.input :price %>
    <%= f.association :galleries,   as: :check_boxes %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
