<h1>Edit Checked Artworks</h1>
<%= form_tag update_multiple_artworks_path, method: :put do %>
  <ul>
  <% @artworks.each do |artwork| %>
    <li>
      <%= hidden_field_tag "artwork_ids[]", artwork.id %>
      <%= artwork.title %>
      <ul class="errors">
        <% artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
  <%= simple_fields_for :artwork do |f| %>
        <%= f.input :year,
          collection: 1990..Date.today.year, 
          selected: Date.today.year, include_blank: true %>
        <%= f.input :category,
          collection: [ "Paintings", "Watercolors", "Drawings", "Prints"], 
          selected: "Paintings", include_blank: true %>
        <%= f.input :size %>
        <%= f.input :medium %>
        <%= f.label :tag_list, "Keywords" %>
        <%= f.text_field :tag_list, id: "tagit", data: { keywords: big_tag_list.to_json } %> 
 
 <% end %>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
<% end %>
