<h2 class="page-title">My Catalog of All Artworks</h2>
    <%= link_to "<i class=\"icon-picture icon-plus-sign text-success text-right\"></i><i class=\"icon-picture icon-remove text-success text-right\"></i>New Artwork".html_safe, new_artwork_path %>



    <form>

        <div class="well"><div id="placeHolder"></div></div>
        <div class="container gallery">
            
            <ul class="thumbnails" id="container">
                <% @artworks.each do |artwork| %>
                  <li class="span3" data-category=<%= artwork.category %> data-keyword="Harrison Ford, Rutger Hauer, Sean Young, Edward James Olmos" data-medium='<%= artwork.medium %>' data-year=<%= artwork.year %>>

                    <div class="thumbnail">
                        <%= link_to image_tag(artwork.asset(:thumbnail)), artwork %>
                      <div class="caption">
                        <h5><%= artwork.title %></h5>
                            <%= link_to "<i class=\"icon-large icon-remove text-error text-right\"></i>Delete".html_safe, artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <%= link_to "<i class=\"icon-large icon-edit text-success text-right\"></i>Edit".html_safe, edit_artwork_path(artwork) %>
                      </div>
                    </div>
                  </li>
                <% end %>
            </ul>
        </div>      
    </form>  

<!-- FILTRIFY ================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "filtrify/script.js" %>
<%= javascript_include_tag "filtrify/filtrify.min.js" %>
<script type="text/javascript">
    $(function() {

        $.filtrify("container", "placeHolder");

    });
</script>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</span><![endif]-->