<div class="container">
  <br/>
<div class="row-fluid"><%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %></div>
<div class="row-fluid"><div class="span3"><p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Year:</b>
  <%= @artwork.year %>
</p>

<p>
  <b>Size:</b>
  <%= @artwork.size %>
</p>

<p>
  <b>Medium:</b>
  <%= @artwork.medium %>
</p>

<p>
  <b>Category:</b>
  <%= @artwork.category %>
</p>

<p>
  <b>Price:</b>
  <%= @artwork.price %>
  <% if @artwork.sold %>
    <p><%= "This piece was sold to #{@artwork.soldto} on #{@artwork.datesold}" %></p>
  <% end %>
</p>
  <b>Notes:</b>
  <%= @artwork.notes %>
</p>
<p>
  <b>Keywords:</b>
  <%= @artwork.tag_list %>
</p>
</div>

<div class="span4"><p>
  <b>Current Image:</b>
</p>
        <%= image_tag @artwork.asset(:thumbnail) %>


</div>
<div class="span3"><p>



<h5>Galleries displaying this piece:</h5>
  <% @artwork.galleries.each do |gallery| %>
  <p><%= gallery.title %></p>
  <% end %>
</div></div>


</div>