<div class="container">
  <h3>Artwork Info</h3>
  <div class="row-fluid">
    <%= link_to 'Back to Catalog', artworks_path, class: 'btn' %>
    <%= link_to 'Edit This Artwork', edit_artwork_path(@artwork), class: 'btn btn-primary' %>  
    <%= link_to "New Artwork", new_artwork_path, :class => 'btn btn-success' %>  
  </div>
  <br/>
  <br/>
  <div class="row-fluid">
    <div class="span3">
      <p>
        <b>Title:</b>
        <%= @artwork.title %>
      </p>
      <p>
        <b>Year:</b>
        <%= @artwork.year %>
      </p>
      <p>
        <b>Size:</b>
        <%= @artwork.size %>
      </p>
      <p>
        <b>Medium:</b>
        <%= @artwork.medium %>
      </p>
      <p>
        <b>Category:</b>
        <%= @artwork.category %>
      </p>
      <p>
        <b>Price:</b>
        <%= @artwork.price %>
        <% if @artwork.sold %>
          <p><%= "This piece was sold to #{@artwork.soldto} on #{@artwork.datesold}" %></p>
        <% end %>
      </p>
      <p>
        <b>Notes:</b>
        <%= @artwork.notes %>
      </p>
      <p>
        <b>Keywords:</b>
        <%= @artwork.tag_list %>
      </p>
    </div>

    <div class="span4">
    <% if @artwork.asset? %>
      <p>
        <b>Current Image:</b>
      </p>
      <%= image_tag @artwork.asset(:thumbnail) %>
      <p><b>Filename: </b><%= @artwork.filename %></p>
    <% end %>
    </div>

    <div class="span3 offset1">
      <h5>Galleries displaying this piece:</h5>
      <% @artwork.galleries.each do |gallery| %>
        <p><%= gallery.title %></p>
      <% end %>
    </div>
  </div>
</div>
