
<p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Year:</b>
  <%= @artwork.year %>
</p>

<p>
  <b>Size:</b>
  <%= @artwork.size %>
</p>

<p>
  <b>Price:</b>
  <%= @artwork.price %>
</p>

<p>
  <b>Medium:</b>
  <%= @artwork.medium %>
</p>

<p>
  <b>Category:</b>
  <%= @artwork.category %>
</p>

<p>
  <b>Price:</b>
  <%= @artwork.price %>
</p>

<h2>Galleries displaying this piece</h2>
  <% @artwork.galleries.each do |gallery| %>
  <p><%= gallery.title %></p>
  <% end %>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
