<!-- FILTRIFY ================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "filtrify.js" %>
<script type="text/javascript">
  $(function() {
      $.filtrify("filtrify", "placeHolder");
  });
</script>
<!-- END FILTRIFY ================== -->
<div class="container">
  <%= form_for(@gallery) do |f| %>
    <!-- ERRORS MESSAGE -->
    <% if @gallery.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

        <ul>
        <% @gallery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="span3 fixme">
      
        <%= link_to 'Back To Galleries', galleries_path %> | 
        <%= link_to 'Preview This Gallery', @gallery %>
        </br>
        </br>
        <%= f.label :title, 'Gallery Title' %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_area :description, class: "smallertext" %>
       <%= f.label :nav_id, "Navigation Bar Category" %>
        <%= f.collection_select :nav_id, Nav.all, :id, :title, include_blank: true %>
       <div class="well">                      
          <%= f.label :archived, 'Put Gallery In Archive?' %>
          <%= f.check_box :archived %>
        </div>                            
        <%= f.submit nil, class: 'btn btn-success' %>
      </div>
      <div class="span8 pull-right">           
          <div class="well" id=" filters">
            <p>Filter by:</p><div id="placeHolder"></div>
          </div>
        <ul class="thumbnails" id="filtrify">
          <% @artworks.each do |artwork| %>
            <%= tag(:li, 
              class: "span2", 
              data: { :'category' => artwork.category,
                      :'keyword' => artwork.tag_list,
                      :'medium' => artwork.medium,
                      :'year' => artwork.year }
                      ) -%>
            <div class="thumbnail">
              <%= link_to image_tag(artwork.asset(:thumbnail)), artwork %>
              <div class="caption">
                <p><%= artwork.title -%></p>
                <%= check_box_tag :artwork_ids, artwork.id, @current_artworks.include?(artwork), name: 'gallery[artwork_ids][]' %>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
