<%= form_for(@gallery) do |f| %>
  <!-- ERRORS MESSAGE -->
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- ERRORS MESSAGE -->
  <div class="row">
    <div class="span3">
      <%= f.label :title, 'Gallery Title' %>
      <%= f.text_field :title %>
    </div>
    <div class="span3">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="span3">
      <%= f.label :quote %>
      <%= f.text_field :quote %>
    </div>
    <div class="span3">
       <i class="icon-large icon-edit"></i> 
      <%= f.submit 'Update Preferences for this Gallery', :class => 'btn btn-success' %>
    </div>
  </div>

  <div class="row">
    <div class="span3 well pull-right">
      <%= f.label :featured, 'Featured On Front Page?' %>
      <%= f.check_box :featured %>
    </div>
  </div>

  <h5>Select What Art Pieces You Want in this Gallery</h5>
  <%= render 'catalog' %>
<% end %>