  <div class="span12 archive">
        <div class="gallery" id="blog">
          <%= content_tag(:ul) do -%>
            <% @galleries.each do |gallery| %>
              <%= link_to(gallery_path(gallery)) do %>
              <div class="entry row">
                <div class="pad-sides">
                  <h3><%= gallery.title %> </h3>
                  <p><i><%= gallery.description %></i></p>
                  <ul class="thumbnails">
                  <% gallery.artworks.first(5).each do |artwork| %>
                    <li class="span2" id="artwork_<%= artwork.id %>">
                      <%= image_tag(artwork.asset(:thumbnail), class: "thumbnail pics archive-thumbs", alt: artwork.caption) %>
                    </li>
                  <% end %>
                  </ul>
                  </div>
                  </div>
                  <hr>
                <% end %>
              <% end %>
          <% end %>
          </div>
      </div>
