<div class="container">
  <h2 class="page-title">My Galleries</h2>
  <%= link_to "<i class=\"icon-plus icon-remove text-right\"></i>New Gallery".html_safe, new_gallery_path, :class => 'btn btn-success' %>
<br />
<br />

<h3>Featured galleries</h3>
<h6>Drag And Drop To Reorder(will update on page refresh)</h6>
<ol id="featuredsort" data-update-url="<%= featuredsort_galleries_url %>"> 
<% featured_galleries.each do |gallery| %>
    <li id="gallery_<%= gallery.id %>"><%= gallery.title %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <!-- <%= link_to 'Remove From Featured' %> -->
    </li>
<% end %>
</ul>

<br />

<h3>Listing all galleries</h3>
<table>
<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.title %></td>
    <td><%= gallery.created_at %></td>

    <td><%= link_to 'Preview', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!-- <td><%= link_to 'Feature On Homepage?' %></td> -->
  </tr>
<% end %>
</table>
</div>