<h1>Listing galleries</h1>

<%= link_to 'New Gallery', new_gallery_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.title %></td>
    <td><%= gallery.description %></td>
    <td><%= link_to 'Preview', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!-- <td><%= link_to 'Feature On Homepage?' %></td> -->
  </tr>
<% end %>
</table>

<br />

<h3>Featured galleries</h3>
<h6>Drag And Drop To Reorder</h6>
<ol id="featuredsort" data-update-url="<%= featuredsort_galleries_url %>"> 
<% featured_galleries.each do |gallery| %>
    <li id="gallery_<%= gallery.id %>"><%= gallery.title %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <!-- <%= link_to 'Remove From Featured' %> -->
    </li>
<% end %>
</ul>