<div class="row tabbable">
  <div class="span3 fixme">
    </br>
    </br>
    </br>
    <h1>Administator Dashboard</h1>
    <hr>
    <h4>Admin Navigation</h4>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#manager" data-toggle="tab">Gallery Manager</a></li>
      <li><a href="#site" data-toggle="tab">Website Layout</a></li>
      <li><%= link_to 'Edit Profile Page', edit_profile_path(@profile.id) %></li>
      <li><%= link_to 'My Art Catalog', artworks_path %></li>
    </ul>
  </div>

  <div class="span8 well pull-right">
    <div class="tab-content">
      <div id="site" class="tab-pane">
        <h2>Navigation Bar Featured Items</h2>
        <%= link_to 'New Navigation Grouping Category', new_nav_path, class: 'btn' %>
        <h6>Drag And Drop To Reorder(will update on page refresh)</h6>
        <ol class="sortable" data-update-url="<%= featuredsort_navs_url %>"> 
          <% featured_navs.each do |nav| %>
            <li id="nav_<%= nav.id %>"><%= nav.title %>
              <%= link_to 'Edit', edit_nav_path(nav) %>
              <!-- <%= link_to 'Remove From Featured' %> -->
            </li>
          <% end %>
        </ol>
        <br />

<h3>All navs</h3>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @navs.each do |nav| %>
  <tr>
    <td><%= nav.title %></td>
    <td><%= link_to 'Edit', edit_nav_path(nav) %></td>
    <td><%= link_to 'Destroy', nav, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


        <h2>Homepage Carousel Slideshow Pictures (Details)</h2>
        <%= link_to "Add New Picture For Homepage", new_carousel_item_path, :class => 'btn btn-success' %>
        <h6>Drag And Drop To Reorder</h6>
        <ul class="sortable thumbnails" data-update-url="<%= sort_carousel_items_url %>"> 
          <% @carousel_items.each do |item| %>
            <li id="carousel_item_<%= item.id %>">
              <div class="thumbnail">
                <%= image_tag item.asset(:thumbnail) %>
                <div class="caption">
                  <%= link_to 'Edit', edit_carousel_item_path(item) %>
                  <div class="pull-right">
                    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="manager" class="tab-pane active">
        <h2>Listing All Galleries</h2>
        <hr>
        <div class="btn-toolbar">
          <%= link_to "<i class=\"icon-plus icon-remove text-right\"></i>New Gallery".html_safe, new_gallery_path, :class => 'btn btn-success' %>
        </div>
        <div class="well">
          <table class="table"> 
            <thead>
              <tr>
                <th><%= sortable "title" %></th>
                <th><%= sortable "created_at" %></th>
                <th><%= sortable "updated_at" %></th>
                <th>Number of Works</th>
                <th style="width: 36px;"></th>
              </tr>
            </thead>
            <tbody>
              <% @galleries.each do |gallery| %>
              <tr>
                <td><%= gallery.title %></td>
                <td><%= gallery.created_at.to_s(:post_time) %></td>
                <td><%= gallery.updated_at.to_s(:post_time) %></td>
                <td><%= gallery.artworks.size %></td>
                <td><%= link_to 'Preview', gallery %></td>
                <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
                <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
