  <% if admin_signed_in? %>
  <br/>
  <br/>
  <br/>
  <br/>
  <h4>Drag And Drop To Reorder Art Pieces</h4>
  <%= link_to 'Back to My Galleries', galleries_path %> |
  <%= link_to 'Edit this Gallery', edit_gallery_path(@gallery) %>
<% end %>
            <br/>
            <br/>
<div class="gallery">
  <h3><%= @gallery.title %></h3>
  <h4><%= @gallery.description %></h4>
  <br/>
  <br/>
  <!-- <h2 class="page-title"><%= @gallery.title %></h2> -->
  <!-- Thumbnail ul sortable only if signed in -->
  <%= content_tag( :ul,
                   data: { :'update-url' => sort_gallery_path(@gallery) },
                   class: (admin_signed_in?) ? 'thumbnails show sortable' : 'thumbnails show'
                  ) do -%>
    <% @artworks.each do |artwork| %>
      <li class="span2" id="artwork_<%= artwork.id %>"> <!-- need id of model -->
        <%= link_to(image_tag(artwork.asset(:thumbnail), class: "thumbnail pics", alt: artwork.caption), "#{artwork.asset}") %>
        <p><%= artwork.title[0..15] if admin_signed_in? %></p>
      </li>
    <% end %>
  <% end -%>
</div>

</div>
