<%= stylesheet_link_tag "main" %> 
<!-- Jquery UI Sortable -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
<!-- end Jquery UI Sortable -->
<!-- Pretty Photo Window -->
    <%= javascript_include_tag "prettyPhoto/plugins.js" %>
    <%= javascript_include_tag "prettyPhoto/jquery.prettyPhoto.js" %>
    <%= javascript_include_tag "prettyPhoto/main.js" %>
    <script>

        // Colorbox Call
        $(document).ready(function(){
            $("[rel^='lightbox']").prettyPhoto();
        });
    </script>
<!-- End Pretty Photo Window -->


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Galleries', galleries_path %>



        <ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>
 

        <div class="container gallery">
            <h2 class="page-title"><%= @gallery.title %></h2>


            <ul class="thumbnails" id="sortable">
        <% @gallery.artworks.each do |artwork| %>
                  <li class="span3" id="artwork_<%= artwork.id %>"> <!-- need id of model -->
                    <!-- This was a crazy little string-interpolation puzzle-->
                      <a class='thumbnail' rel='lightbox[group]' href=<%= artwork.asset %> title='<%= "<i>#{artwork.title}</i>, #{artwork.year}. #{artwork.medium}. #{artwork.size}. Margaret Tsirantonakis. " %>'> 
                          <%= image_tag artwork.asset, class: "group1", alt: "" %>
                      </a>
                  </li>
                <% end %>

            </ul><!--end thumbnails -->



            <footer>
                <p>&copy; Tsirantonakis 2013 <span class="pull-right credits"><a>mtsiran@hubar.com</a><a>(203) 961-8413</a></span></p>
            </footer>

        </div> <!-- /container -->




