<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Galleries', galleries_path %>

        <%= stylesheet_link_tag "main" %> 

        <div class="container gallery">
            <h2 class="page-title"><%= @gallery.title %></h2>


            <ul class="thumbnails">
				<% @gallery.artworks.each do |artwork| %>
	                <li class="span3">
	                	<!-- This was a crazy little string-interpolation puzzle-->
	                    <a class='thumbnail' rel='lightbox[group]' href=<%= artwork.asset %> title='<%= "<i>#{artwork.title}</i>, #{artwork.year}. #{artwork.medium}. #{artwork.size}. Margaret Tsirantonakis. " %>'> 
	                        <%= image_tag artwork.asset, class: "group1", alt: "" %>
	                    </a>
	                </li>
                <% end %>

            </ul><!--end thumbnails -->



            <footer>
                <p>&copy; Tsirantonakis 2013 <span class="pull-right credits"><a>mtsiran@hubar.com</a><a>(203) 961-8413</a></span></p>
            </footer>

        </div> <!-- /container -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <%= javascript_include_tag "prettyPhoto/plugins.js" %>
        <%= javascript_include_tag "prettyPhoto/jquery.prettyPhoto.js" %>
        <%= javascript_include_tag "prettyPhoto/main.js" %>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));

            // Colorbox Call

            $(document).ready(function(){
                $("[rel^='lightbox']").prettyPhoto();
            });
        </script>
