<%= stylesheet_link_tag "main" %> 
<!-- Pretty Photo Window -->
    <%= javascript_include_tag "prettyPhoto/plugins.js" %>
    <%= javascript_include_tag "prettyPhoto/jquery.prettyPhoto.js" %>
    <%= javascript_include_tag "prettyPhoto/main.js" %>
    <script>

        // Colorbox Call
        $(document).ready(function(){
            $("[rel^='lightbox']").prettyPhoto();
        });
    </script>
<!-- End Pretty Photo Window -->


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Galleries', galleries_path %>
 
 <!-- debugging -->
<!--  <p><%= @curatings %></p>
<p><%= @artworks %></p>-->        
            
            <div class="gallery">
            <h2 class="page-title"><%= @gallery.title %></h2>

      <!-- have to make this sortable only if signed in -->
      <ul class="thumbnails" id="sortable" data-update-url="<%= sort_gallery_path(@gallery) %>"> 
        <% @artworks.each do |artwork| %>
                  <li class="span3" id="artwork_<%= artwork.id %>"> <!-- need id of model -->
                    <!-- This was a crazy little string-interpolation puzzle-->
                      <a class='thumbnail' rel='lightbox[group]' href=<%= artwork.asset %> title='<%= "<i>#{artwork.title}</i>, #{artwork.year}. #{artwork.medium}. #{artwork.size}. Margaret Tsirantonakis. " %>'> 
                          <%= image_tag artwork.asset, class: "group1", alt: "" %>
                      </a>
                  </li>
                <% end %>

            </ul><!--end thumbnails -->



            <footer>
                <p>&copy; Margaret Tsirantonakis 2013 <span class="pull-right credits"><a>mtsiran@hubar.com</a><a>(203) 961-8413</a></span></p>
            </footer>

        </div> <!-- /container -->




