
<!-- Lightbox -->

  <script>
  $(function () {
      $('.pics').glisse({
          changeSpeed: 550, 
          speed: 100,
          effect:'bounce',
          fullscreen: true
      }); 
  });
  </script>
<!-- Lightbox -->

<% if admin_signed_in? %>
  <h4>Drag And Drop To Reorder Art Pieces</h4>
  <%= link_to 'Galleries', galleries_path %> |
  <%= link_to 'Edit', edit_gallery_path(@gallery) %>
<% end %>      
            
<div class="gallery">
  <h2 class="page-title"><%= @gallery.title %></h2>
  <!-- Thumbnail ul sortable only if signed in -->
  <%= content_tag( :ul, 
                   class: "thumbnails", 
                   data: { :'update-url' => sort_gallery_path(@gallery) }, 
                   id: (admin_signed_in?) ? 'sortable' : nil
                  ) do -%>
    <% @artworks.each do |artwork| %>
      <li class="span3" id="artwork_<%= artwork.id %>"> <!-- need id of model -->
        <%= image_tag artwork.asset(:thumbnail), class: "thumbnail pics", rel: 'group1', alt: "", data: { :'glisse-big' => "#{artwork.asset}" }, title: artwork.caption %>
      </li>
    <% end %>
  <% end -%>
</div> 




