<!-- FILTRIFY ================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "filtrify.js" %>
<script type="text/javascript">
  $(function() {

      $.filtrify("container", "placeHolder");

  });
</script>
<!-- END FILTRIFY ================== -->

<div class="well" id=" filters">
  <% if controller_name == 'artworks'%>
    Sort by:
    <%= sortable "title" %> |
    <%= sortable "year" %>
  <% end %>
  <br />
  Filter by:<div id="placeHolder"></div>
</div>
<div class="container gallery">
  <ul class="thumbnails" id="container">
      <% @artworks.each do |artwork| %>
        <%= tag(:li, 
          class: "span3", 
          data: { :'category' => artwork.category,
                  :'keyword' => artwork.tag_list,
                  :'medium' => artwork.medium,
                  :'year' => artwork.year }
                  ) -%>

        <div class="thumbnail">
          <%= link_to image_tag(artwork.asset(:thumbnail)), edit_artwork_path(artwork) %>
          <div class="caption">
            <p><%= artwork.title -%></p>
              <%= link_to "<i class=\"icon-large icon-folder-open text-right\"></i>Show".html_safe, artwork %>
              <%= link_to "<i class=\"icon-large icon-remove text-error text-right\"></i>Delete".html_safe, artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to "<i class=\"icon-large icon-edit text-success text-right\"></i>Edit".html_safe, edit_artwork_path(artwork) %>
          </div>
        </div>
      <% end %>
  </ul>
</div>  